Repository engels74/EasyHDR: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, cargo-fmt, cargo-clippy

check-yaml:
  name: Check YAML
  entry: uv run --with pyyaml python3 -c "import sys, yaml; yaml.safe_load(open(sys.argv[1]))"
  language: system

check-toml:
  name: Check TOML
  entry: uv run python3 -c "import sys, tomllib; tomllib.load(open(sys.argv[1],'rb'))"
  language: system

cargo-fmt:
  name: Cargo Fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: bash -c 'if [ "$OS" = "Windows_NT" ]; then cargo clippy --all-targets --all-features -- -D warnings; else cargo xwin clippy --target x86_64-pc-windows-msvc --all-targets --all-features -- -D warnings; fi'
  language: system
  pass_filenames: false

fix: correct argument handling in pre-commit hooks
  .pre-commit-config.yaml
Due: check-yaml

refactor: replace custom pre-commit hooks with standard pre-commit-hooks repo
  .pre-commit-config.yaml
  README.md
  deny.toml
  ui/main.slint
Due: check-yaml, check-toml

feat: add prek pre-commit and pre-push hooks (#51)
  .augment/rules/rust-dev-guidelines.md
  .gitignore
  .pre-commit-config.yaml
  README.md
  assets/svg/easyhdr-logo.svg
  assets/svg/easyhdr-off.svg
  assets/svg/easyhdr-on.svg
  deny.toml
  ui/main.slint
Due: check-yaml, check-toml

docs: Update Rust development guidelines to cover 1.93+ features and expand 2024 edition details.
  .augment/rules/rust-dev-guidelines.md
Due: none

refactor: align codebase with Rust 1.93+ development guidelines
  Cargo.toml
  benches/config.rs
  benches/hdr_detection.rs
  benches/icon_cache.rs
  benches/process_monitor_bench.rs
  benches/uwp_detection.rs
  rustfmt.toml
  src/config/manager.rs
  src/config/models.rs
  src/controller/app_controller.rs
  src/error.rs
  src/gui/gui_controller.rs
  src/gui/tray.rs
  src/hdr/controller.rs
  src/hdr/version.rs
  src/hdr/windows_api.rs
  src/lib.rs
  src/main.rs
  src/monitor/hdr_state_monitor.rs
  src/monitor/process_monitor.rs
  src/test_utils.rs
  src/utils/autostart.rs
  src/utils/icon_cache.rs
  src/utils/icon_extractor.rs
  src/utils/logging.rs
  src/utils/single_instance.rs
  src/utils/update_checker.rs
  src/uwp/detector.rs
  src/uwp/enumerator.rs
  src/uwp/icon.rs
  tests/cpu_profiling_test.rs
  tests/cpu_usage_test.rs
  tests/dhat_profiling_test.rs
  tests/icon_cache_tests.rs
  tests/integration_tests.rs
  tests/memory_usage_test.rs
  tests/startup_time_test.rs
  tests/uwp_process_detection_tests.rs
  tests/version_detection_tests.rs
Due: check-toml, cargo-fmt, cargo-clippy

fix: resolve unfulfilled `#[expect(dead_code)]` lint errors in Miri CI
  src/hdr/controller.rs
  src/monitor/process_monitor.rs
Due: cargo-fmt, cargo-clippy

refactor: complete `#[allow]` → `#[expect]` migration and add `#[non_exhaustive]` to error enums
  benches/config.rs
  benches/hdr_detection.rs
  benches/icon_cache.rs
  benches/process_monitor_bench.rs
  benches/uwp_detection.rs
  src/config/manager.rs
  src/config/models.rs
  src/controller/app_controller.rs
  src/error.rs
  src/gui/gui_controller.rs
  src/gui/tray.rs
  src/hdr/controller.rs
  src/hdr/version.rs
  src/hdr/windows_api.rs
  src/main.rs
  src/monitor/hdr_state_monitor.rs
  src/monitor/process_monitor.rs
  src/test_utils.rs
  src/utils/autostart.rs
  src/utils/icon_cache.rs
  src/utils/icon_extractor.rs
  src/utils/logging.rs
  src/utils/single_instance.rs
  src/utils/update_checker.rs
  src/uwp/detector.rs
  src/uwp/enumerator.rs
  src/uwp/icon.rs
  tests/cpu_profiling_test.rs
  tests/cpu_usage_test.rs
  tests/dhat_profiling_test.rs
  tests/icon_cache_tests.rs
  tests/integration_tests.rs
  tests/memory_usage_test.rs
  tests/startup_time_test.rs
  tests/uwp_process_detection_tests.rs
  tests/version_detection_tests.rs
Due: cargo-fmt, cargo-clippy

fix: guard `#[expect(dead_code)]` with `not(test)` to fix Miri CI
  src/monitor/process_monitor.rs
Due: cargo-fmt, cargo-clippy

Address review comments from PR #52
  src/monitor/process_monitor.rs
Due: cargo-fmt, cargo-clippy

refactor: align codebase with Rust 1.93+ guidelines (#52)
  Cargo.toml
  benches/config.rs
  benches/hdr_detection.rs
  benches/icon_cache.rs
  benches/process_monitor_bench.rs
  benches/uwp_detection.rs
  rustfmt.toml
  src/config/manager.rs
  src/config/models.rs
  src/controller/app_controller.rs
  src/error.rs
  src/gui/gui_controller.rs
  src/gui/tray.rs
  src/hdr/controller.rs
  src/hdr/version.rs
  src/lib.rs
  src/main.rs
  src/monitor/hdr_state_monitor.rs
  src/monitor/process_monitor.rs
  src/test_utils.rs
  src/utils/icon_cache.rs
  src/utils/icon_extractor.rs
  src/utils/logging.rs
  src/utils/update_checker.rs
  src/uwp/detector.rs
  src/uwp/enumerator.rs
  src/uwp/icon.rs
  tests/cpu_profiling_test.rs
  tests/dhat_profiling_test.rs
  tests/icon_cache_tests.rs
  tests/integration_tests.rs
  tests/memory_usage_test.rs
  tests/uwp_process_detection_tests.rs
  tests/version_detection_tests.rs
Due: check-toml, cargo-fmt, cargo-clippy

fix(security): ignore RUSTSEC-2026-0037 (quinn-proto) - not applicable
  .cargo/audit.toml
  deny.toml
Due: check-toml

fix(docs): reference quinn-proto in cargo tree verification comment
  .cargo/audit.toml
  deny.toml
Due: check-toml

fix(security): ignore RUSTSEC-2026-0037 (quinn-proto) (#64)
  .cargo/audit.toml
  deny.toml
Due: check-toml

fix(security): ignore 8 non-exploitable RustSec advisories
  .cargo/audit.toml
  deny.toml
Due: check-toml

Patch RustSec lockfile advisories
  Cargo.lock
Due: none

Silence duration_suboptimal_units warnings in process monitor tests
  src/monitor/process_monitor.rs
Due: cargo-fmt, cargo-clippy

Keep startup phase ranking clippy-clean on Rust 1.95
  src/utils/startup_profiler.rs
Due: cargo-fmt, cargo-clippy

Resolve UWP integration-test clippy warnings without changing behavior
  tests/uwp_process_detection_tests.rs
Due: cargo-fmt, cargo-clippy

Normalize whole-second CPU test intervals to satisfy clippy on Rust 1.95
  tests/cpu_usage_test.rs
Due: cargo-fmt, cargo-clippy

Patch RustSec lockfile advisories (#86)
  Cargo.lock
  src/monitor/process_monitor.rs
  src/utils/startup_profiler.rs
  tests/cpu_usage_test.rs
  tests/uwp_process_detection_tests.rs
Due: cargo-fmt, cargo-clippy

Fix RustSec lockfile advisories
  Cargo.lock
Due: none

Update release VirusTotal notes [skip ci]
  .github/workflows/release.yml
Due: check-yaml

Format release VirusTotal notes [skip ci]
  .github/workflows/release.yml
Due: check-yaml

chore: update crate version to 0.1.13
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
Due: check-toml

docs: rewrite CLAUDE.md as agent guide and symlink AGENTS.md/GEMINI.md
  CLAUDE.md
  GEMINI.md
Due: none

chore: migrate pre-commit hooks to prek
  .pre-commit-config.yaml
  CLAUDE.md
  prek.toml
Due: check-yaml, check-toml

chore: remove agent guidance files (CLAUDE.md, AGENTS.md, GEMINI.md)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

docs: regenerate CLAUDE.md and restore AGENTS.md symlink
  AGENTS.md
  CLAUDE.md
Due: none

fix(deps): resolve RUSTSEC-2026-0185/0186/0190/0192/0194/0195
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  deny.toml
Due: check-toml

chore(deps): rename fetch_update to try_update
  src/controller/app_controller.rs
Due: cargo-fmt, cargo-clippy

fix: resolve CI failures before code review (PR #115)
  src/controller/app_controller.rs
Due: cargo-fmt, cargo-clippy

fix(clippy): restore fetch_update to honor MSRV 1.93 (PR #115 follow-up)
  Cargo.toml
Due: check-toml

fix: address code review comments (PR #115, iteration 1)
  Cargo.toml
Due: check-toml

fix(ci): unblock miri and audit follow-up
  Cargo.lock
  src/controller/app_controller.rs
Due: cargo-fmt, cargo-clippy

fix(deps): resolve RUSTSEC-2026-0185/0186/0190/0192/0194/0195 (anyhow bump, tauri-winrt bump, audit ignores) (#115)
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  deny.toml
  src/controller/app_controller.rs
Due: check-toml, cargo-fmt, cargo-clippy

chore(ci): pin checkout action v7
  .github/workflows/ci.yml
  .github/workflows/miri.yml
  .github/workflows/profiling.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: check-yaml

chore(deps): update quinn-proto lockfile
  Cargo.lock
Due: none

fix(deps): address security advisories
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  deny.toml
Due: check-toml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
